.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #111;
  color: white;
}

.navbar .logo {
  font-weight: bold;
  font-size: 1.2em;
}

.navbar .menu a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.navbar .menu a:hover {
  color: #ffcc00;
}

