.dashboard {
  padding: 40px;
  text-align: center;
}

.dashboard h1 {
  font-size: 36px;
  font-weight: 700;
}

.sub {
  font-size: 18px;
  color: #555;
  margin-bottom: 40px;
}

.cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: #fff;
  padding: 25px;
  border-radius: 14px;
  width: 320px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
  transition: transform .3s, box-shadow .3s;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 22px rgba(0,0,0,0.25);
}

.card h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

.txt {
  margin-bottom: 15px;
  color: #666;
}

.big-number {
  font-size: 60px;
  font-weight: bold;
  margin: 0;
  color: #0077ff;
}

.subtxt {
  color: #555;
  margin-top: -10px;
  font-size: 15px;
}

.destaque {
  border-top: 8px solid #0077ff;
}

.lista-jogos {
  list-style: none;
  padding: 0;
}

.lista-jogos li {
  margin-bottom: 15px;
  text-align: left;
  font-size: 16px;
}

.lista-jogos span {
  display: block;
  font-size: 13px;
  color: #777;
}

.btn-excluir {
  margin-top: 10px;
  background: #ff3b3b;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.btn-excluir:hover {
  background: #d62828;
}

.btn-alterar-plano {
  margin: 0 auto;
  display: block;
  background: #007bff;
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  transition: 0.2s;
}

.btn-alterar-plano:hover {
  background: #0056b3;
}


